body {
  width: 250px;
  margin: 0;
  padding: 1rem;
  overflow-x: hidden;
  font-size: 16px;
  word-break: keep-all;
  color: #2c2c2c;
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#streams {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

#streams div {
  display: flex;
}

#streams span {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#streams button {
  border-width: 0;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
}

#streams button:hover {
  background-color: #d6d6d6;
}

#watch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  padding: 0.5rem 1rem;
  border-width: 0;
  border-radius: 0.25rem;
  font-weight: bold;
  color: #fafafa;
  background-color: #18181b;
  white-space: nowrap;
  cursor: pointer;
}

#watch:hover {
  background-color: #18181be6;
}
